@use './partials/variables' as *;
@use './partials/header';
@use './partials/home';

@import '~bootstrap/scss/bootstrap';

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    display: block;
}
